.Button {
  flex: 1;
}

.zeroButton {
  flex: 2;
}

.Button button,
.zeroButton button {
  width: 100%;
  font-size: 3em;
  border: none;
  border: 1px solid white;
  padding: 10px 0;
  cursor: pointer;
}

.defaultBg button {
  background-color: orange;
}

.Button button:hover,
.zeroButton button:hover {
  background-color: darkgray;
  color: white;
}
