.display {
  display: flex;
  background-color: gray;
  color: white;
  height: 100%;
  padding-right: 10px;
  font-weight: bolder;
  justify-content: right;
}

.display h1 {
  font-size: 3em;
}

.clear {
  clear: both;
}
